li a.active
{
	background-color: #9c0003;
	color: white;
}
li a.allume
{
  background-color: #9c0003;
  color: white;
}

li a:hover
{
  background-color: #111;
  color: white;
}

.dropdown-content 
{
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  height: 35px;
  line-height: 35px;
}

.dropdown-content a:hover 
{
  background-color: #9c0003;
}

.dropdown:hover .dropdown-content {
  display: block;
}
li a, .dropbtn {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;

}

h1
{
  text-align: center;
}

.background
{
  background-color: #9c0003;
  width: 55%;
  margin-left: 17%;
  -webkit-box-shadow: 10px 10px 18px -8px rgba(0,0,0,0.42);
  -moz-box-shadow: 10px 10px 18px -8px rgba(0,0,0,0.42);
  box-shadow: 10px 10px 18px -8px rgba(0,0,0,0.42);
  border-radius: 5px;
  margin-top: 75px;
}

.offre
{
  color: #FFFFFF;
  font-size: 2em;
  padding-top: 10%;
  padding-bottom: 10%;
  width: 100%;
  margin: 0;
  text-align: center;

}

.logo
{
  width: 100%;
}

.sidebar
{
  height: 100%;
  width: 300px;
  position: fixed;
  top:125px;
  color: white;
  text-align: center;
  text-transform: uppercase;
  margin-left: 25px;


}

.menu-item
{
  display: flex;
  justify-content: center;
  list-style-type: none;
  background-color: #333;
  text-transform: uppercase;
  font-size: 14px;
  padding-left: 0;
  -webkit-box-shadow: 0px 10px 21px -8px rgba(0,0,0,0.75); 
  -moz-box-shadow: 0px 10px 21px -8px rgba(0,0,0,0.75);
  box-shadow: 0px 10px 21px -8px rgba(0,0,0,0.75)
}

.up 
{
  position: fixed;
  bottom: 50px;
  left: 160px;
}

.fleche
{
  height: 50px;
  width: 50px;
}

div.main

{
  margin-left: 200px;
}

li a.liside
{
  color: white;
  width: 100%;
  line-height: 35px;
  padding-right: 0;
  padding-left: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

li a.liside:hover
{
  color: white;
  background-color: #9c0003;
  border-radius: 5px;
}

.oui
{
  list-style-type: none;
  background-color: #333;
  align-items: center;
  padding-left: 0;
  padding-top: 25px;
  -webkit-box-shadow: 10px 10px 18px -8px rgba(0,0,0,0.42);
  -moz-box-shadow: 10px 10px 18px -8px rgba(0,0,0,0.42);
  box-shadow: 10px 10px 18px -8px rgba(0,0,0,0.42);
  border-radius: 5px;
}

strong
{
  color: #9c0003;
}

h3
{
  text-align: center;
}

html
{
  background-color: #D3C9BF;
}

.sidebarimg
{
  height: 35px;
  width: 35px;
  float: left;
  margin-left: 10px;

}

.google_map
{
  background-color: black;
  height: 300px;
  width: 400px;
  position: fixed;
  right: 35px;
  top: 150px;
}

.google_map > iframe
{
  height: 100%;
  width: 100%;
}

.drop 
{
  margin-left: 60px;
}

.side
{
 margin-right: 45px;
}

.Produits
{
  padding-bottom: 25px;
}

::-webkit-scrollbar {
  width: 0px;  /* Remove scrollbar space */
  background: transparent;  /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
  background: #FF0000;
}

.container {
  overflow-y: scroll;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  overflow-x: hidden;
}
.container::-webkit-scrollbar { /* WebKit */
  width: 0;
  height: 0;
}

.image_generale

{
  display: flex;
  flex-wrap: wrap;
  margin-left: 150px;
  margin-right: 20%;
}

.produit
{
  width: 100%;
  height: 100%;
}

.image
{
  width: 33%;
}

figcaption
{
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  overflow-wrap: anywhere;
}

.prod
{
  display: block;
}

.arrowdown
{
  height: 15px;
  width: 15px;
  float: right;
}

.tel
{
  color : inherit;
  text-decoration: none;
}

.logoclick 
{
  height: 200px;
  width: 260px;
  text-align: center;
  margin: auto;
}
.divmenu
{
  display: none;
}

.sous-titre
{
  text-align: center;
  background-color: #757A78;
  width: 55%;
  margin-left: 22%;
  -webkit-box-shadow: 10px 10px 18px -8px rgba(0,0,0,0.42);
  -moz-box-shadow: 10px 10px 18px -8px rgba(0,0,0,0.42);
  box-shadow: 10px 10px 18px -8px rgba(0,0,0,0.42);
  border-radius: 5px;
  margin-top: 25px;
}

.morceau
{
  color: #FFFFFF;
  font-size: 2em;
  padding-top: 5%;
  padding-bottom: 5%;
  width: 100%;
  margin: 0;
  text-align: center;
}

/* Media query pour les smartphones*/
@media all and (max-width: 1350px)
{
  .google_map{position:static;width: 320px;margin: 0 auto;}
  .dropdown-content{width: 100%}
  .dropdown-content a {padding: 14px 0 14px 0;}
  .drop{text-align: center;padding-right: 7%;}
  .padd{padding: 10px 0 10px 0;text-align: center;}
  a{width: 100%;}
  li a.dropbtn{padding:10px 0 10px 0;}
  .menu-item {display: block;justify-content: flex-start;list-style-type: none; height: auto;font-size: 12px;}
  .navbar{position: fixed;width: 97%;top:45px;}
  .invisible {display: none;}
  br {display: none ;}
  br.onmenlevpas{display:block;}
  .logo {width: 150px;height: 120px;}
  h1{font-size: 1.25em;}
  .image {width:calc(33% - 20px);height:auto;text-align: center;padding: 10px;}
  .image_generale {margin-left: 0;margin-right: 0;}
  .sidebar {display: none;}
  .up {bottom: 35px;left: 5px;}
  .fleche{height: 40px; width: 40px;}
  div.main {margin: 0;}
  .background {margin-left: 25%;margin-right: 25%;}
  figure{margin: 0}
  .tel{text-decoration: underline;color: blue;}
  .logoclick{height: auto;width: auto;}
  .divmenu{width: 25px;height: 25px;position: fixed;right: 25px;top:15px;display: inherit;}
  .menu_tel{width: 25px;height: 25px;}
}

@media all and (max-width:768px )
{
  .image{width:calc(50% - 20px);}
}

@media all and (max-height: 975px) and (min-width:1350px)
{
  .up{left: auto;right: 125px;}
}
